body { font-size: 10pt; }

div.status { line-height: 1.4; 
             word-wrap: break-word; }
div.target { padding-left: 1em;
             font-size: 80%; 
             color: gray; }

div.event { background-color: LightGoldenrodYellow; } 
div.mine { background-color: MistyRose; } 
div.reply { background-color: Lavender; } 

.datetime { color: #606060 }

a { text-decoration: none; }
a:hover { text-decoration: underline; }
a.username { font-weight: bold; }
a.target_datetime { color: gray; }
