body {font-size: 10pt}

div.status { line-height: 1.4; 
             word-wrap: break-word; }
span.datetime { color: #606060 }

a { text-decoration: none; }
a:hover { text-decoration: underline; }
a.username { font-weight: bold; }
