body { font-size: 10pt; }

div.status { line-height: 1.4; 
             word-wrap: break-word; }
div.target { padding-left: 1em;
             font-size: 80%; 
             color: gray; }

div.event { background-color: LightGoldenrodYellow; } 
div.mine { background-color: MistyRose; } 
div.reply { background-color: Lavender; } 

.more-text { display: none; }
.hidden { display: none; }

.datetime, .datetime a, .retweet a { color: #606060 }

a { text-decoration: none; }
a:hover { text-decoration: underline; }
a.username { font-weight: bold; }
a.target_datetime { color: gray; }

div.image img { margin: 5px; padding: 3px; border: 1px solid #ccc; 
                max-width: 160px; max-height: 90px;}

div.link-box{ border: solid 1px #e4e4e4; width: 90%;
              color: #555; background-color: #f7f7f7; 
              font-size: 80%; margin: 5px 0px; padding: 5px; }
div.link-name a { font-weight: bold; }


/* for tumblr */
blockquote { margin: 0px; padding: 0px; } 
p { margin: 0px; padding: 0px; } 
span { margin: 0px; padding: 0px; font-size: 100% !important;} 
