div.status { padding-bottom: 10px;
             margin-bottom: 10px;
             border-bottom: 1px solid #ccc; }
div.icon { float: left; width: 45px; }
div.text { margin-left: 45px; }
div.icon img { -webkit-border-radius : 5px; }
