body { margin: 0; }

div.status { padding: 8px;
             border-bottom: 1px solid #ccc; }
div.icon { float: left; width: 45px; }
div.text { margin-left: 45px; }
div.icon img { -webkit-border-radius : 5px; }

.datetime, .datetime a, .retweet a { font-size: 90%; }
.screenname, .screenname a { color: #606060;
                             font-size: 90%; }
div.body { padding: 2px 0px;}

div.link-box{ border: solid 1px #e4e4e4; width: 90%;
              color: #555; background-color: #f7f7f7; 
              font-size: 80%; margin: 5px 0px; padding: 5px; }
div.link-name a { font-weight: bold; }
