body { margin: 0; }
div.status { padding: 2 8 0 8;
             border-bottom: 1px solid #FFF; 
             clear: both; }
div.status img { -webkit-border-radius : 3px; }
div.image img { margin-left: 2em; padding: 2px; }

div.link-box{ margin-left: 2em; margin-right: 1em; 
              color: #333; width: auto; }

div.tumblr .tumblrbuttons { display: none; }
div.tumblr .username { float: none; }
